/* General */

html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica;
  line-height: 1.4;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Header and Nav */

header {
  background-color: cadetblue;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul {
  margin-right: 1rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}

.phone-menu {
  display: none;
}

header .flex {
  justify-content: flex-end;
}

.headline {
  background-color: white;
  display: inline-block;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
  color: black;
}

h1 {
  font-weight: bold;
  line-height: 1.2;
  font-size: 2rem;
}

/* Icons */

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  text-align: center;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}

.service img.paper{
  width: 3.5rem;
}

/* Info */

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.title {
  font-weight: bold;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  max-width: 10rem;
}

 p {
  padding-top: 1rem;
}

.supporting {
  display: flex;
  justify-content: center;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem 2rem;
}

footer img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

/* Tablet Media Queries */

@media only screen and (max-width: 1024px){
  header {
    height: 22rem;
    padding-top: 0;
  }

  .headline {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .headline h1 {
    font-size: 1.33rem;
  }

  nav .container{
    max-width: 100%;
  }
}

/* Menu Media Queries */

@media only screen and (max-width: 700px) {
  .menu ul {
    display: none;
  }

  .menu ul.phone-menu {
    display: block;
  }
}

/* Phone Media Queries */

@media only screen and (max-width: 560px){

  .supporting {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
  }

  header {
    height: 17rem;
    background-position: 20%;
  }

  header div span {
    display: none;
  }

  .headline {
    width: 100%;
    padding: 1rem 0;
    margin: 9rem auto 0 auto;
    text-align: center;
  }

  .headline h1 {
    font-size: 1rem;
  }

  .service {
    height: auto;
    margin: .77rem 0;
    font-size: .77rem;
  }

  .info {
    width: 100%;
  }

  .info .title {
    width: 100%;
    max-width: none;
    margin-right: 0;
    text-align: center;
  }

  .info p {
   padding: 1rem;
   font-size: .77rem;
 }

 footer div {
   display: none;
 }

 footer {
  justify-content: center;
 }
}
